openapi: 3.2.0
info:
  title: LeanData BookIt 📆 Meetings > Retrieve API
  description: Programmatic scheduling, availability lookup, and meeting management for the LeanData BookIt scheduling product. Power custom UIs with server-to-server access to availability, round-robin, and meeting CRUD.
  version: 1.0.0
servers:
- url: https://api.leandata.com
tags:
- name: 📆 Meetings > Retrieve
  description: ''
paths:
  /v1/meetings:
    get:
      tags:
      - 📆 Meetings > Retrieve
      summary: v1/meetings
      description: 'Retrieves meetings associated with a prospect’s email address. By default, the endpoint returns scheduled and canceled meetings from the time of the API call through the future. To query historical meetings, pass a start value in the past (optionally paired with end) to expand the time range backward.


        Query Parameters


        Parameter

        Type

        Required

        Description


        prospectEmail

        string

        Yes

        The email address of the prospect whose meetings you want to retrieve.


        start

        string or number

        No

        Start of time range filter. Accepts an ISO 8601 string (YYYY-MM-DDTHH:mm:ss.sssZ) or a Unix timestamp in milliseconds.


        end

        string or number

        No

        End of time range filter. Accepts an ISO 8601 string (YYYY-MM-DDTHH:mm:ss.sssZ) or a Unix timestamp in milliseconds.


        status

        string

        No

        Filter meetings by status. Allowed values: scheduled, rescheduled,canceled.


        Time Filter Behavior


        If start and/or end are provided, meetings will be filtered by their scheduled start time.


        Both ISO 8601 format and Unix timestamp (milliseconds) are supported.


        If no time filters are provided, all meetings associated with the prospect will be returned.


        Response Body Parameters


        Note: calendarEvent fields are returned from the calendar provider. calendarEvent.status represents the provider’s event status, while bookIt.status represents LeanData’s meeting lifecycle status.


        Field

        Type

        Description


        bookIt

        object

        LeanData BookIt metadata for the meeting.


        bookIt.status

        string

        BookIt lifecycle status (for example, scheduled, rescheduled, canceled).


        calendarEvent

        object

        Calendar-provider event object (source of truth for provider-level fields like organizer, attendees, and provider status).


        calendarEvent.id

        string

        Unique identifier for the calendar event.


        calendarEvent.title

        string

        Meeting title.


        calendarEvent.status

        string

        Calendar provider status (for example, confirmed or canceled).


        calendarEvent.scheduledTime.start_time

        number

        Meeting start time (Unix epoch milliseconds).


        calendarEvent.scheduledTime.end_time

        number

        Meeting end time (Unix epoch milliseconds).


        calendarEvent.organizer

        object

        Organizer details from the calendar provider.


        calendarEvent.organizer.email

        string

        Organizer email address.


        calendarEvent.attendees

        array

        List of meeting attendees and their response statuses.


        calendarEvent.attendees[].email

        string

        Attendee email address.


        calendarEvent.attendees[].responseStatus

        string

        Attendee response status (calendar provider value, e.g. accepted, needsAction).


        calendarEvent.attendees[].organizer

        boolean

        Whether the attendee is the organizer (if provided by calendar provider).


        calendarEvent.attendees[].self

        boolean

        Whether the attendee represents the authenticated calendar user (if provided by calendar provider).'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getV1Meetings
      x-operation-id-source: derived
  /v1/meeting/:meetingId:
    get:
      tags:
      - 📆 Meetings > Retrieve
      summary: v1/meeting/:meetingId
      description: 'Retrieves detailed information for a single meeting by its unique identifier.


        Use this endpoint to:


        Power confirmation pages


        Support reschedule or cancellation flows


        Retrieve full attendee details


        Path Parameters


        Parameter

        Type

        Required

        Description


        meetingId

        string

        Yes

        The unique identifier of the meeting to retrieve.


        Response Body Parameters


        Note: calendarEvent fields are returned from the calendar provider. calendarEvent.status represents the provider’s event status, while bookIt.status represents LeanData’s meeting lifecycle status.


        Field

        Type

        Description


        bookIt

        object

        LeanData BookIt metadata for the meeting.


        bookIt.status

        string

        BookIt lifecycle status (for example, scheduled, rescheduled, canceled).


        calendarEvent

        object

        Calendar-provider event object (source of truth for provider-level fields like organizer, attendees, and provider status).


        calendarEvent.id

        string

        Unique identifier for the calendar event.


        calendarEvent.title

        string

        Meeting title.


        calendarEvent.status

        string

        Calendar provider status (for example, confirmed or canceled).


        calendarEvent.scheduledTime.start_time

        number

        Meeting start time (Unix epoch milliseconds).


        calendarEvent.scheduledTime.end_time

        number

        Meeting end time (Unix epoch milliseconds).


        calendarEvent.organizer

        object

        Organizer details from the calendar provider.


        calendarEvent.organizer.email

        string

        Organizer email address.


        calendarEvent.attendees

        array

        List of meeting attendees and their response statuses.


        calendarEvent.attendees[].email

        string

        Attendee email address.


        calendarEvent.attendees[].responseStatus

        string

        Attendee response status (calendar provider value, e.g. accepted, needsAction).


        calendarEvent.attendees[].organizer

        boolean

        Whether the attendee is the organizer (if provided by calendar provider).


        calendarEvent.attendees[].self

        boolean

        Whether the attendee represents the authenticated calendar user (if provided by calendar provider).'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getV1Meeting:meetingId
      x-operation-id-source: derived
