openapi: 3.2.0
info:
  title: LeanData Graph One Time Routing API
  description: Run LeanData One Time Routing and fetch routing graph metadata to power custom orchestration solutions and integrations.
  version: 1.0.0
servers:
- url: https://api.leandata.com
tags:
- name: One Time Routing
  description: This section describes the endpoints used to trigger 1x Routing for creating a custom orchestration experience, as well as to retrieve the status of the resulting job.
paths:
  /orchestration/v1/one-time-routing:
    post:
      tags:
      - One Time Routing
      summary: orchestration/v1/one-time-routing
      description: 'Endpoint: POST https://api.leandata.com/orchestration/v1/one-time-routing


        ❗️ Important: The API does not validate FlowBuilder graphs before triggering routing.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                objectType: Lead
                condition: Id = '00Q5f000006KnPbEAK'
                graphName: Lead Routing Q2 2025
                notificationsDisabled: false
                nodeType: Trigger
                edgeName: Lead is MQL
                allowDedupe: true
                respectSchedules: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postOrchestrationV1OneTimeRouting
      x-operation-id-source: derived
  /orchestration/v1/one-time-routing/:jobId:
    get:
      tags:
      - One Time Routing
      summary: orchestration/v1/one-time-routing/:jobId
      description: 'Endpoint: GET https://api.leandata.com/orchestration/v1/one-time-routing/:jobId


        This endpoint is used to obtain the status of a One-Time Routing job.


        💡 The :jobId path parameter should be replaced with the unique ID of the One-Time Routing job you want to read.


        Headers


        x-api-key (required) — Your unique API key for authentication.


        Request Body Parameters


        result — An object that contains metadata about the status of the One-Time Routing job.


        completedAt — Timestamp of the job''s completion.


        successCount — A string value representing the number of records that were successfully processed by the routing job.


        nRecords — A string value representing the number of records that were found by the routing job.


        status — A string value representing the status of the One-Time Routing job. Because the API does not validate FlowBuilder graphs, invalid graphs will be marked as "Complete".


        "Complete"


        "Complete with Errors"


        "Canceled"


        "Failed"


        "Processing"


        jobId — A string value that is the unique identifier for the asynchronous One-Time Routing job. You can use this ID to query for the status of the job if such an endpoint is available.'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getOrchestrationV1OneTimeRouting:jobId
      x-operation-id-source: derived
