openapi: 3.2.0
info:
  title: LeanData BookIt 📆 Meetings > Manage API
  description: Programmatic scheduling, availability lookup, and meeting management for the LeanData BookIt scheduling product. Power custom UIs with server-to-server access to availability, round-robin, and meeting CRUD.
  version: 1.0.0
servers:
- url: https://api.leandata.com
tags:
- name: 📆 Meetings > Manage
  description: ''
paths:
  /v1/meeting/:meetingId:
    patch:
      tags:
      - 📆 Meetings > Manage
      summary: v1/meeting/:meetingId
      description: 'This endpoint is used to reschedule an existing meeting by providing a new start and end time.


        💡 The :meetingId path parameter should be replaced with the unique ID of the meeting you want to update.


        Request Body Parameters


        scheduledTime (required) — An object that defines the selected meeting time.


        start_time (required) — A number representing the meeting start time in Unix epoch milliseconds.


        end_time (required) — A number representing the meeting end time in Unix epoch milliseconds.


        timezone — A string in IANA format (e.g. America/Los_Angeles). This value is used solely for formatting the confirmation email sent to the prospect. The actual meeting time is determined using the raw timestamps.


        Response Body Parameters


        meetingId — A string representing the unique identifier for the booked meeting.


        organizerEmail — A string containing the email address of the assigned rep who will host the meeting.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                scheduledTime:
                  start_time: 1746547200000
                  end_time: 1746548100000
                  timezone: America/Los_Angeles
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: patchV1Meeting:meetingId
      x-operation-id-source: derived
    delete:
      tags:
      - 📆 Meetings > Manage
      summary: v1/meeting/:meetingId
      description: 'This endpoint cancels a previously scheduled meeting. It requires only the meeting ID in the URL path—no request body is needed.


        A successful cancellation returns a 200 OK status. There is no response body.'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: deleteV1Meeting:meetingId
      x-operation-id-source: derived
