openapi: 3.2.0
info:
  title: LeanData BookIt Legacy (still supported) API
  description: Programmatic scheduling, availability lookup, and meeting management for the LeanData BookIt scheduling product. Power custom UIs with server-to-server access to availability, round-robin, and meeting CRUD.
  version: 1.0.0
servers:
- url: https://api.leandata.com
tags:
- name: Legacy (still supported)
  description: This section outlines the endpoints used to retrieve scheduling data for building a custom calendaring experience.
paths:
  /v1/scheduling/route:
    post:
      tags:
      - Legacy (still supported)
      summary: /v1/scheduling/route (legacy)
      description: 'Legacy routing-only endpoint. Runs routing and returns routing results as encrypted token, but does not return availability. Existing integrations may continue using this endpoint. For new builds, prefer POST /v1/scheduling/route-and-fetch-availability.


        Depending on the concluding routing decision, this endpoint will either return data needed to query for the next endpoint, a redirect link, or an indication to render your fallback experience.


        Typical follow-up:


        Call POST /v1/scheduling/retrieve-info (legacy) or use the combined endpoint instead.


        Request Body Parameters


        _ld_nodeName (required) — A string value that contains the name of your Trigger Node (in the BookIt Flowbuilder)


        _ld_uid (required) — A string value that contains your BookIt Unique Log ID.


        formData (required) — An object that contains the prospect data needed for the BookIt Flowbuilder and routing process.


        All keys (case-sensitive) must exactly match API Field Names defined in your Trigger Node within your BookIt Flowbuilder. For more information, check out the Trigger Node Implementation guide.


        Response Body Parameters


        responseType — A string that indicates the routing outcome determined by the BookIt routing graph. Possible values are:


        "calendar" — The routing graph reached a "Schedule" node. Encrypted scheduling parameters are returned in the params field.


        "redirect" — The routing graph reached a "Redirect to URL" node. A redirect URL is returned in the redirect field.


        "none" — The routing graph reached an "End of Flow" node. No scheduling or redirect data is returned. This can be used to trigger a fallback experience in your UI.


        params (optional) — A string value that is base64-encoded and acts as a token for retrieving the scheduling page data the subsequent API call.


        Only present when responseType is "calendar".


        This value should be passed to the appropriate scheduling endpoint to retrieve the full scheduling page configuration.


        You do not need to decrypt this string manually.


        redirect (optional) — A string containing the URL configured in the "Redirect to URL" node of the BookIt routing graph.


        Only present when responseType is "redirect".


        Redirect users to this URL to continue the scheduling process as defined by your routing configuration.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                _ld_nodeName: API Demo
                _ld_uid: 6f1df9c8-479d-44e0-b98c-2f329b3d6ac8
                formData:
                  state: California
                  phone: '1234567899'
                  email: test@test.com
                  lastname: pool
                  firstname: Test
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postV1SchedulingRoute
      x-operation-id-source: derived
  /v1/scheduling/retrieve-info:
    post:
      tags:
      - Legacy (still supported)
      summary: /v1/scheduling/retrieve-info (legacy)
      description: Use this endpoint when booking a meeting for the first time.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                params: nrnDRrVpi6nUm+gY7Lw1BZQZy9kfhw4IdS7sIIwN6d2ft5qxOweTl78xlhFaJB02xSw/7eocYRiNWO+RSlsVjLk+EK4Dek7jnUxQnsJktz3fV6N47WjcN0hvmYXVs1t97XvgdfrvasqhfM6VYrgmQwDquxf8MH06URvXxVtcSpKi98X3jYG4S/R10nz9S1upt1XhVpMu+vSeLhS4kNMM5s1fWlVVZLEvHb0T5x8ZV1gkSUDZ33tZsIbBInrGuZ/382TI6behsySaNaW3fpPap1y8vXgM3V9JH2YlM6S9VDvDFJ7TYbhdglVnsTHHZpEeRGcMoY7cnD3VSHKdG4aA/tgYWkJiNQShFIV7CTHD3alvVALdGhEP/XHFQsrAhbfu52+Vm7vRdyrqMCWIUOWCNcQzQBDqP63S2pKltNGZUrM4xj0WJfTMNd4z/5O5jjRYC1s1TvleepGPYM0OeLu+E6Fmpi5jVlHKSCI7oMK4Pgtt8uSXHt4JP3OoJjuHt8IDB9xVKXA/tdWL/utiTyexjRlkOpnj8wobVU+8mDyxq9bG7ytLJBrhx1gvTx0k157C
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postV1SchedulingRetrieveInfo
      x-operation-id-source: derived
  /v1/scheduling/retrieve-modification-info:
    post:
      tags:
      - Legacy (still supported)
      summary: v1/scheduling/retrieve-modification-info (legacy)
      description: This endpoint returns the same scheduling payload as v1/scheduling/retrieve-info, but is specifically used when rescheduling or canceling an existing meeting.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                meetingId: 91s64s27ep6mqlig89936kqmat76oh2he923ep3p8tckee2ncsog
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postV1SchedulingRetrieveModificationInfo
      x-operation-id-source: derived
