openapi: 3.2.0
info:
  title: LeanData BookIt 🧠 Scheduling Inputs API
  description: Programmatic scheduling, availability lookup, and meeting management for the LeanData BookIt scheduling product. Power custom UIs with server-to-server access to availability, round-robin, and meeting CRUD.
  version: 1.0.0
servers:
- url: https://api.leandata.com
tags:
- name: 🧠 Scheduling Inputs
  description: ''
paths:
  /v1/scheduling/retrieve-inputs:
    post:
      tags:
      - 🧠 Scheduling Inputs
      summary: v1/scheduling/retrieve-inputs
      description: 'This endpoint returns the fields defined in your trigger node. Use this endpoint to dynamically determine what prospect data must be collected (including field types and validation rules) prior to calling the routing availability endpoint.


        ⚠️ Note: Routing Links Trigger Nodes are not supported.


        Common use cases:


        Agentic scheduling: ask only for missing fields


        Dynamic UI: render required fields based on trigger configuration


        Request Body Parameters


        nodeName (required) — A string value that contains the name of your Trigger Node (in the BookIt Flowbuilder). For more information, check out the Trigger Node Implementation guide.


        Response Body Parameters


        name — A string name of the requested trigger node.


        inputs — An array of input field objects that represent the fields required for routing. Each input field object contains the following properties:


        ⚠️ Note: All input definitions in the inputs array are configured in the LeanData application. If any updates or changes are needed—such as adding, removing, or modifying input fields—they must be made in the corresponding configuration within LeanData. These definitions cannot be modified through the API.


        name — A string that represents the unique API name of the input field. This value should be used as the key when submitting data for booking or routing requests.


        type — A string that represents the expected data type of the input field.


        Supported values include:


        STRING — A text value


        PHONE — A text value of the phone number (can include country code).


        DOUBLE — A numeric value (supports decimal values)


        BOOLEAN — A true/false value'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                nodeName: New Webform Prospect
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postV1SchedulingRetrieveInputs
      x-operation-id-source: derived
