openapi: 3.2.0
info:
  title: LeanData Graph Retrieve Routing Graphs Information API
  description: Run LeanData One Time Routing and fetch routing graph metadata to power custom orchestration solutions and integrations.
  version: 1.0.0
servers:
- url: https://api.leandata.com
tags:
- name: Retrieve Routing Graphs Information
  description: 'This section outlines the endpoints used to retrieve Routing Graphs information for building a custom orchestration experience. The endpoint returns information such as trigger node names, the edges in those trigger nodes, graph name, etc


    orchestration/v1/routing-graphs — Use this endpoint when fetching routing graphs from a particular SFDC org.'
paths:
  /orchestration/v1/routing-graphs:
    get:
      tags:
      - Retrieve Routing Graphs Information
      summary: orchestration/v1/routing-graphs
      description: 'This endpoint retrieves a collection of configured routing graphs, allowing you to filter them by object type, deployment status, and name. This is useful for programmatically inspecting or listing the routing flows defined within your system.


        Endpoint: GET /orchestration/v1/routing-graphs


        Request Body Parameters


        objectType (required) — A string value that specifies the type of object the routing graphs are associated with (e.g., "lead", "contact", "account").


        isLive (optional) — A boolean value that filters graphs by their deployment status. Set to true to retrieve only live (deployed) graphs, or false for non-live graphs. If omitted, all graphs (regardless of deployment status) are returned. Note: For Business Unit deployments, this will include both Ready To Go Live and Live deployments.


        name (optional) — A string value that filters graphs where the graph''s name contains this substring (case-insensitive).


        routingQueryLimit (optional) -- A numeric value that controls the batch size for fetching routing graphs from the API key''s associated Salesforce organization. All matching graphs will still be returned, but a higher value will result in larger batches and potentially faster overall retrieval, up to the Salesforce API limits. The default value is 20.


        Response Body Parameters


        The response will contain a graphs array, which is a collection of Graph Objects. Each Graph Object provides detailed information about a specific routing graph:


        id (String) — Unique identifier for the graph.


        name (String) — Display name of the graph.


        isLive (Boolean) — Indicates if the graph is currently active in production.


        date (String) — Creation date in ISO8601 format.


        time (String) — Creation time in ISO8601 format.


        businessUnit (String | null) — Name of the associated business unit, null if none.


        businessUnitId (String | null) — Identifier for the associated business unit, null if none.


        isBUDeleted (Boolean) — Indicates if the associated business unit has been deleted.


        editedBy (String) — Identifier of the user who last edited the graph.


        editedByName (String) — Display name of the user who last edited the graph.


        isGraphAvailableForEdit (Boolean) — Indicates if the current user has permission to edit this graph.


        triggerNodeEdges (Object) — This object maps trigger node names (keys) to an object containing details about their outgoing connections and node type. For each trigger node name, the associated object will contain:


        edges (Array) — An array of strings, where each string is the identifier of an outgoing edge or the next node in the flow from this trigger node.


        nodeType (String) — The type of the node, e.g. TRIGGER, UPDATE TRIGGER etc.


        canGraphBeOverridden (Boolean) — Indicates if the graph can be overridden by other graphs.


        hasRoutingPriorities (Boolean) — Indicates if the graph has routing priority settings. This would evaluate to true if an edge on a trigger node has a priority setting that is not the default of 5.


        lastModifiedDate (String) — Last modification timestamp in ISO8601 format.


        lastModifiedBy (String) — Identifier of the user who last modified the graph.


        scheduledJobs (Array | null) — An array of scheduled jobs associated with this graph, null if none.


        lastDeployedDate (String) — Timestamp of the last deployment in ISO8601 format.'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getOrchestrationV1RoutingGraphs
      x-operation-id-source: derived
