openapi: 3.0.0
info:
  title: LeanData BookIt 🗓️ Availability 🗓️ Availability Retrieve Routing Graphs Information API
  description: Programmatic scheduling, availability lookup, and meeting management for the LeanData BookIt scheduling product. Power custom UIs with server-to-server access to availability, round-robin, and meeting CRUD.
  version: 1.0.0
servers:
- url: https://api.leandata.com
tags:
- name: Retrieve Routing Graphs Information
  description: '<p>This section outlines the endpoints used to retrieve Routing Graphs information for building a custom orchestration experience. The endpoint returns information such as trigger node names, the edges in those trigger nodes, graph name, etc</p>

    <ul>

    <li><code>orchestration/v1/routing-graphs</code> — Use this endpoint <strong>when fetching routing graphs</strong> from a particular SFDC org.</li>

    </ul>

    '
paths:
  /orchestration/v1/routing-graphs:
    get:
      tags:
      - Retrieve Routing Graphs Information
      summary: orchestration/v1/routing-graphs
      description: '<p>This endpoint retrieves a collection of configured routing graphs, allowing you to filter them by object type, deployment status, and name. This is useful for programmatically inspecting or listing the routing flows defined within your system.</p>

        <p><strong>Endpoint:</strong> <code>GET /orchestration/v1/routing-graphs</code></p>

        <h4 id="request-body-parameters">Request Body Parameters</h4>

        <ul>

        <li><p><code>objectType</code> (required) — A string value that specifies the type of object the routing graphs are associated with (e.g., "lead", "contact", "account").</p>

        </li>

        <li><p><code>isLive</code> (optional) — A boolean value that filters graphs by their deployment status. Set to <code>true</code> to retrieve only live (deployed) graphs, or <code>false</code> for non-live graphs. If omitted, all graphs (regardless of deployment status) are returned. Note: For Business Unit deployments, this will include both <code>Ready To Go Live</code> and <code>Live</code> deployments.</p>

        </li>

        <li><p><code>name</code> (optional) — A string value that filters graphs where the graph''s name contains this substring (case-insensitive).</p>

        </li>

        <li><p><code>routingQueryLimit</code> (optional) -- A numeric value that controls the batch size for fetching routing graphs from the API key''s associated Salesforce organization. All matching graphs will still be returned, but a higher value will result in larger batches and potentially faster overall retrieval, up to the Salesforce API limits. The default value is 20.</p>

        </li>

        </ul>

        <h4 id="response-body-parameters">Response Body Parameters</h4>

        <p>The response will contain a <strong><code>graphs</code></strong> array, which is a collection of <strong>Graph Objects</strong>. Each <strong>Graph Object</strong> provides detailed information about a specific routing graph:</p>

        <ul>

        <li><p><strong><code>id</code></strong> (String) — Unique identifier for the graph.</p>

        </li>

        <li><p><strong><code>name</code></strong> (String) — Display name of the graph.</p>

        </li>

        <li><p><strong><code>isLive</code></strong> (Boolean) — Indicates if the graph is currently active in production.</p>

        </li>

        <li><p><strong><code>date</code></strong> (String) — Creation date in ISO8601 format.</p>

        </li>

        <li><p><strong><code>time</code></strong> (String) — Creation time in ISO8601 format.</p>

        </li>

        <li><p><strong><code>businessUnit</code></strong> (String | null) — Name of the associated business unit, <code>null</code> if none.</p>

        </li>

        <li><p><strong><code>businessUnitId</code></strong> (String | null) — Identifier for the associated business unit, <code>null</code> if none.</p>

        </li>

        <li><p><strong><code>isBUDeleted</code></strong> (Boolean) — Indicates if the associated business unit has been deleted.</p>

        </li>

        <li><p><strong><code>editedBy</code></strong> (String) — Identifier of the user who last edited the graph.</p>

        </li>

        <li><p><strong><code>editedByName</code></strong> (String) — Display name of the user who last edited the graph.</p>

        </li>

        <li><p><strong><code>isGraphAvailableForEdit</code></strong> (Boolean) — Indicates if the current user has permission to edit this graph.</p>

        </li>

        <li><p><strong><code>triggerNodeEdges</code></strong> (Object) — This object maps trigger node names (keys) to an object containing details about their outgoing connections and node type. For each trigger node name, the associated object will contain:</p>

        <ul>

        <li><p><strong><code>edges</code></strong> (Array) — An array of strings, where each string is the identifier of an outgoing edge or the next node in the flow from this trigger node.</p>

        </li>

        <li><p><strong><code>nodeType</code></strong> (String) — The type of the node, e.g. <code>TRIGGER</code>, <code>UPDATE TRIGGER</code> etc.</p>

        </li>

        </ul>

        </li>

        <li><p><strong><code>canGraphBeOverridden</code></strong> (Boolean) — Indicates if the graph can be overridden by other graphs.</p>

        </li>

        <li><p><strong><code>hasRoutingPriorities</code></strong> (Boolean) — Indicates if the graph has routing priority settings. This would evaluate to <code>true</code> if an edge on a trigger node has a priority setting that is not the default of 5.</p>

        </li>

        <li><p><strong><code>lastModifiedDate</code></strong> (String) — Last modification timestamp in ISO8601 format.</p>

        </li>

        <li><p><strong><code>lastModifiedBy</code></strong> (String) — Identifier of the user who last modified the graph.</p>

        </li>

        <li><p><strong><code>scheduledJobs</code></strong> (Array | null) — An array of scheduled jobs associated with this graph, <code>null</code> if none.</p>

        </li>

        <li><p><strong><code>lastDeployedDate</code></strong> (String) — Timestamp of the last deployment in ISO8601 format.</p>

        </li>

        </ul>

        '
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
