openapi: 3.2.0
info:
  title: LeanData BookIt 🗓️ Availability API
  description: Programmatic scheduling, availability lookup, and meeting management for the LeanData BookIt scheduling product. Power custom UIs with server-to-server access to availability, round-robin, and meeting CRUD.
  version: 1.0.0
servers:
- url: https://api.leandata.com
tags:
- name: Availability
  description: 'The availability endpoints return meeting configuration and open time slots used to render booking pages or refresh availability. Depending on the request context (routing, direct link, or reschedule), the response includes meeting details, eligible hosts, and available time windows.


    POST /v1/scheduling/route-and-fetch-availability


    POST /v1/scheduling/fetch-availability'
paths:
  /v1/scheduling/route-and-fetch-availability:
    post:
      tags:
      - Availability
      summary: v1/scheduling/route-and-fetch-availability
      description: Use this endpoint when you want LeanData BookIt to determine the correct routing outcome (who/what should be booked) and return the current availability of determined host.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                triggerNode: New Webform Prospect
                uid: 3ac6f6f3-2bbd-4401-ab12-0ee9a654b6d1
                prospect:
                  Company: LeanData
                  NumEmployees: '500'
                  PhoneNumber: +1(669) 600-5676
                  ld_bookit_log_id: 3ac6f6f3-2bbd-4401-ab12-0ee9a654b6d1
                  FirstName: John
                  LastName: Doe
                  Email: johndoe@test.com
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postV1SchedulingRouteAndFetchAvailability
      x-operation-id-source: derived
  /v1/scheduling/fetch-availability:
    post:
      tags:
      - Availability
      summary: v1/scheduling/fetch-availability
      description: 'Use this endpoint to:


        refresh times after routing, using the token returned by v1/scheduling/route-and-fetch-availability to refetch availability without re-running routing


        fetch availability for single-meeting-type BookIt Links only by passing the linkId


        ⚠️ Multi-Meeting Type Links, Routing Links, Dynamic Links, and BookIt Invites/Embedded Meeting Invites Links are not supported by this endpoint.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                token: /31AvS7OmROG0U3f1iR1cg/ouvG3T57T0674o0FfVNEDe1oTP0eMWylkgnOmZ7erwPy5Llz+7tYkxuJbyff9PUYdVgKrPk8hkkWlyj6vqa1/Hi3b/ISC9VT2CbG0/vShqEBzU+4MuQv5+0+xCMdnR6i3MK4uwlMK9p7lST6y1FZydHE+VsFj9eZPOxWTKB0lZ5IbFZNJbuvAiA+EJKCPdXw24Z1myG/371ckdjrgwDhFYjGdfXqRRbOQbnyWmXqgjKndHhcwuM4Zn0Qq45+BUnnjKZjyG32qEJaJWLlGQozGQQukcUqupMCzSIyuUgrqpWqFALGbwjf+sYWarqrw/+zKf2n9Jt14/anXkxw1mDWjTVAfnX3PH+XJwIbb/A6mWHe1AjTBtol1M+/6qCWZQwSLrBOiQuO7ySw+Y+F+Y1cfceorE1S6NajM/i7483q5RyMJFsugpiX//KCwBPUIBcP0zola1Uk2KgKc7K03Cq787j5Rlf9yBLs8Z5o2BgT1bY/DqUrTmgOpbIbExnZRX+vltzDQEmIqxsB1kAoC9BbXlWyRsgefyL2Z7nKPeKDxu0FCPO69vMt9AIcmK4TOZQ==
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postV1SchedulingFetchAvailability
      x-operation-id-source: derived
